/* General Styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

.light-theme {
  background-color: #ffffff;
  color: #000000;
}

/* Ensuring header styles are not overridden */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky; /* Mantener el header visible */
  top: 0;
  z-index: 1000;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto;
}

.nav-item {
  margin-left: 1rem;
}

.btn-toggle {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 1rem;
}

.btn-toggle:focus {
  outline: none;
}

/* Additional Styles for other components can go here */
